 .u-section-1 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/Balksz285_20260115235424.png");
  background-size: auto;
  min-height: 1733px;
}

.u-section-1 .u-image-1 {
  --radius: 30px;
  width: 500px;
  height: 281px;
  --border-color-var: #000000;
  margin: 125px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-1 {
  font-family: Barlow-Black;
  font-size: 2.25rem;
  margin: -270px calc(((100% - 1140px) / 2)  + 57px) 0 calc(((100% - 1140px) / 2)  + 594px);
}

.u-section-1 .u-text-2 {
  font-family: Barlow-Black;
  margin: 20px calc(((100% - 1140px) / 2)  + 57px) 0 calc(((100% - 1140px) / 2)  + 594px);
}

.u-section-1 .u-image-2 {
  --radius: 30px;
  width: 533px;
  height: 300px;
  margin: 234px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Barlow-Black;
  font-size: 2.25rem;
  margin: -260px calc(((100% - 1140px) / 2)  + 627px) 0 calc(((100% - 1140px) / 2)  + 200px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-family: Barlow-Black;
  margin: 21px calc(((100% - 1140px) / 2)  + 627px) 0 calc(((100% - 1140px) / 2)  + 24px);
}

.u-section-1 .u-text-5 {
  font-family: Barlow-Black;
  width: 558px;
  font-size: 2.25rem;
  margin: 108px auto 0;
}

.u-section-1 .u-text-6 {
  font-family: Barlow-Black;
  width: 558px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 10px;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  font-family: Barlow-Black;
  margin: 37px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-3 {
  --radius: 30px;
  width: 702px;
  height: 395px;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1429px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 451px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 451px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 527px);
    margin-left: calc(((100% - 940px) / 2) + 100px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 527px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1095px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 407px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 407px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 730px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 227px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 227px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 418px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -180px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -151px;
    margin-right: calc(((100% - 340px) / 2) + 27px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 27px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }
}@font-face {
  font-family: 'Barlow-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Barlow-Black.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Barlow-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Barlow-Black.ttf);
}